- if @favorites.present?
  .r-all
    - @favorites.each do |f|
      .r-all__list
        .r-name
          = link_to "#{f.recipe.name}", recipe_path(f.recipe.id), class: "r-name"
          .r-image
            = image_tag f.recipe.image.thumb.url
- else
  = "お気に入り登録中のレシピはありません"