@import "config/mixin";
@import "config/media";

// お悩みの詳細
.box {
  @include base;
  border: solid thin gray;
  .trouble-title {
    font-size: x-large;
    .trouble-btn {
      display: flex;
      justify-content: flex-end;
      .destroy-btn {
        a {
          font-size: small;
          text-decoration: none;
          color: gray;
          margin-right: 10px;
        }
      }
      .update-btn {
        a {
          font-size: small;
          text-decoration: none;
          color: gray;
          margin-right: 10px;
        }
      }
    }
  }
  .user-image {
    display: flex;
    img {
      @include userimage-biger;
    }
    .user-name {
      font-size: smaller;
    }
  }
  .trouble-conten {
    border-bottom: dotted thin gray;
  }
}

// 解決案の詳細
.answer-box {
  @include base;
  margin-top: 50px;
  .answer-list {
    border-top: dotted thin gray;
    padding: 5px;
    .user-image {
      display: flex;
      img {
        @include userimage-biger
      }
      .user-name {
        a {
          text-decoration: none;
          color: black;
          font-size: smaller;
        }
        .time {
          font-size: smaller;
        }
      }
    }
    .answer-content {
    }
  }
}

// レスポンシブ
@include media(sp) {
  // お悩みの詳細
  .box {
    max-width: calc(100% - 10px);
    border: solid thin gray;
    .trouble-title {
      font-size: x-large;
      .trouble-btn {
        display: flex;
        justify-content: flex-end;
        .destroy-btn {
          a {
            font-size: small;
            text-decoration: none;
            color: gray;
            margin-right: 10px;
          }
        }
        .update-btn {
          a {
            font-size: small;
            text-decoration: none;
            color: gray;
            margin-right: 10px;
          }
        }
      }
    }
    .user-image {
      display: flex;
      img {
        @include userimage-biger;
      }
      .user-name {
        font-size: smaller;
      }
    }
    .trouble-conten {
      border-bottom: dotted thin gray;
    }
  }

  // 解決案の詳細
  .answer-box {
    max-width: calc(100% - 10px);
    margin-top: 50px;
    .answer-list {
      border-top: dotted thin gray;
      padding: 5px;
      .user-image {
        display: flex;
        img {
          @include userimage-biger
        }
        .user-name {
          a {
            text-decoration: none;
            color: black;
            font-size: smaller;
          }
          .time {
            font-size: smaller;
          }
        }
      }
      .answer-content {
      }
    }
  }
}