// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
  width: 740px;
  margin: 0 auto;
  border: solid thin black;
  margin-top: 10px;
  .comments-form {
    .c-area {
      width: 100%;
      text-align: center;
      textarea {
        width: 90%;
        margin-top: 20px;
      }
    }
    .c-sub {
      text-align: center;
      padding: 10px;
      input {
        width: 30%;
        background-color: ivory;
        font-weight: bolder;
      }
    }
    &__text-all {
      width: 700px;
      font-size: 15px;
      word-wrap: break-word;
      margin: 0 auto;
      &__list {
        margin: 5px;
        border-bottom: solid thin gray;
        padding: 5px;
        width: 680px;
        display: flex;
        .c-image {
          width: 60px;
          height: 60px;
          margin: 3px;
          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
        }
        .c-name {
          width: 680px;
          word-wrap: break-word;
          a {
            color: black;
            font-weight: bolder;
          }
        }
        .c-text {
          padding-top: 3px;
          width: 600px;
        }
        .btn {
          background-color: thistle;
          color: gray;
        }
      }
    }
  }
}

@media (max-width: 519px) {
  .comments {
    width: calc(100vh - 160px);
  }
}