// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
  width: 740px;
  margin: 0 auto;
  border: solid thin black;
  margin-top: 10px;
  .comments-form {
    
    .c-area {
      width: 740px;
      text-align: center;
      textarea {
        width: 600px;
        height: 50px;
        margin-top: 20px;
      }
    }
    .c-sub {
      text-align: center;
      padding: 10px;
      input {
        width: 500px;
        background-color: ivory;
        font-weight: bolder;
      }
    }
  
    &__text-all {
      width: 600px;
      font-size: 15px;
      word-wrap: break-word;
      margin: 0 auto;

      &__list {
        margin: 5px;
        border-bottom: solid thin gray;
        padding: 5px;
        width: 550px;
        display: flex;
        
        .c-image {
          width: 60px;
          height: 60px;
          margin: 3px;
          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
        }

        .c-name {
          width: 450px;
          a {
            color: black;
            font-weight: bolder;
          }
        }

        .c-text {
          padding-top: 3px;
        }
        
        .destroy-btn {
        }

        .des-btn {
          color: gray;
        }
        

      }
      
    }
  }
}