@import "config/mixin";

// レシピのフォーム
.f-recipe {
  @include base;
  border: solid thin gray;
  padding: 20px;
  select {
    @include create-font;
  }
  .nested-fields {
    .delete-btn {
      @include create-btn;
    }
  }
  .links {
    .make-add {
      @include create-btn;
    }
  }
  .f-item {
    @include create-padding;
    font-size: smaller;
    font-weight: bolder;
    input {
      @include create-font;
    }
    textarea {
      @include create-font;
    }
  }
  .f-image {
    @include create-padding;
  }
  .f-submit {
    text-align: center;
    padding: 10px;
    input {
      @include submit-btn;
    }
  }
}

// @media (max-width: 455px) {
//   .f-recipe {
//     max-width: 100%;
//     box-sizing: border-box;
//   }
// }


// 解決案のフォーム
.answer-form {
  width: 100%;
  .answer-text {
    text-align: center;
    textarea {
      width: calc(100% - 30px);
      height: 100px;
      margin-top: 20px;
    }
  }
  .answer-submit {
    text-align: center;
    input {
      @include submit-btn;
    }
  }
}

// お悩み相談のフォーム
.trouble-box {
  @include base;
  border: dotted thin gray;
  padding: 5px;
  label {
    font-size: small;
    font-weight: bolder;
  }
  .trouble-title {
    text-align: center;
    margin-bottom: 15px;
    input {
      border-top: none;
      border-left: none;
      border-right: none;
      width: calc(100% - 20px);
      height: 30px;
    }
  }
  .trouble-content {
    margin-top: 15px;
    text-align: center;
    textarea {
      width: calc(100% - 20px);
      height: 100px;
    }
  }
  .trouble-submit {
    input {
      @include submit-btn;
    }
  }
}




