@import "config/mixin";
@import "config/media";

header {
  height: 150px;
  width: 100%;
  .header-title {
    @include headbox;
    width: 23%;
    float: left;
    display: flex;
    justify-content: center;
    font-size: 2.8rem;
    font-weight: bolder;
    .title {
      text-decoration: none;
      color: black;
    }
  }
  .navigation-bar {
    @include headbox;
    float: left;
    display: flex;
    width: 45%;
    line-height: 50px;
    .navigation-category {
      border-bottom: solid 1px gray;
      list-style: none;
      margin: 5px;
      width: 300px;
      text-align: center;
      font-size: smaller;
      .navigation-list {
        .list {
          text-decoration: none;
          color: black;
          display: block;
        }
      }
        .item-box {
          visibility: hidden;
          width: 150px;
          position: absolute;
          .category-item {
            background-color: ivory;
            list-style: none;
            a {
              display: block;
            }
            .item {
              text-decoration: none;
              color: black;
            }
          }
        }
    }
    .navigation-category:hover .item-box {
      visibility: visible;
      border: solid 1px gray;
      font-weight: bolder;
    }
  }
  .search-form {
    @include headbox;
    width: 20%;
    float: left;
    line-height: 50px;
    input {
      width: 70%;
      border-top: none;
      border-left: none;
      border-right: none;
    }
    button {
      width: 20%;
    }
  }
  .header-btn {
    @include headbox;
    line-height: 50px;
    width: 10%;
    float: right;
    display: flex;
    .sign-out-btn {
      @include headbtn;
    }
    .user-btn {
      @include headbtn;
    }
  }
}

// レスポンシブ
@include media(sp) {
  header {
    height: 200px;
    max-width: 100%;
    .header-title {
      @include headbox;
      width: 20%;
      float: left;
      display: flex;
      font-size: 15px;
      font-weight: bolder;
      .title {
        text-decoration: none;
        color: black;
      }
    }
    .navigation-bar {
      @include headbox;
      float: left;
      display: flex;
      width: 45%;
      line-height: 50px;
      .navigation-category {
        border-bottom: solid thin gray;
        list-style: none;
        margin: 5px;
        width: 300px;
        text-align: center;
        font-size: smaller;
        .navigation-list {
          .list {
            text-decoration: none;
            color: black;
            display: block;
          }
        }
          .item-box {
            visibility: hidden;
            width: 150px;
            position: absolute;
            .category-item {
              background-color: ivory;
              list-style: none;
              a {
                display: block;
              }
              .item {
                text-decoration: none;
                color: black;
              }
            }
          }
      }
      .navigation-category:hover .item-box {
        visibility: visible;
        border: solid 1px gray;
        font-weight: bolder;
      }
    }
    .search-form {
      @include headbox;
      width: 75%;
      float: left;
      line-height: 50px;
      input {
        width: 70%;
        border-top: none;
        border-left: none;
        border-right: none;
      }
      button {
        width: 20%;
      }
    }
    .header-btn {
      @include headbox;
      justify-content: space-around;
      width: 20%;
      float: left;
      .sign-out-btn {
        font-size: 20px;
        padding: 5px;
        color: gray;
      }
      .user-btn {
        font-size: 20px;
        padding: 5px;
        color: gray;
      }
    }
  }
}