@import "config/mixin";
@import "config/media";

.recipe {
  @include base;
  border: solid thin gray;
  &-category {
    border: solid medium red ;
    border-radius: 50px;
    height: 15px;
    width: 20%;
    background-color: salmon;
    text-align: center;
  }
  &-name {
    font-size: xx-large;
  }
  .user-name {
    text-align: right;
    a {
      text-decoration: none;
      color: gray;
    }
  }
  .like {
    text-align: right;
    .unlike-btn {
      color: palevioletred;
    }
    .like-btn {
      color: gray;
    }
    .like-count {
      float: right;
      color: gray;
    }
  }
  .recipe-link {
    .edit-btn {
      @include recipe-btn;
    }
    .delete-btn {
      @include recipe-btn;
    }
  }
  &-image {
    display: flex;
    img {
      object-fit: cover;
      height: 300px;
      width: 300px;
    }
    .ingredient {
      width: 70%;
      margin-left: 5px;
      .delete-items {
        background-color: lightgray;
        border: solid thin black;
        color: black;
        float: right;
        margin: 5px;
        a { 
          text-decoration: none;
          color: black;
          font-size: smaller;
        }
      }
    .items {
      display: flex;
      justify-content: space-between;
      border-bottom: dotted thin gray;
      padding: 5px;
      font-size: smaller;
      .create-ingredient {
        @include buyitem-btn;
        color: gray;
      }
      .delete-ingredient {
        @include buyitem-btn;
        background-color: tomato;
        color: black;
      }
    }
    }
  }
  &-make {
    .content {
      font-size: smaller;
      padding: 10px;
      border-top: dotted thin gray;
    }
  }
}

// レスポンシブ
@include media(sp) {
  .recipe {
    max-width: calc(100% - 10px);
    border: solid thin gray;
    &-category {
      border: solid medium red ;
      border-radius: 50px;
      height: 15px;
      width: 20%;
      background-color: salmon;
      text-align: center;
    }
    &-name {
      font-size: xx-large;
    }
    .recipe-introduction {
      font-size: smaller;
    }
    .user-name {
      text-align: right;
      a {
        text-decoration: none;
        color: gray;
      }
    }
    .like {
      text-align: right;
      .unlike-btn {
        color: palevioletred;
      }
      .like-btn {
        color: gray;
      }
      .like-count {
        float: right;
        color: gray;
      }
    }
    .recipe-link {
      .edit-btn {
        @include recipe-btn;
      }
      .delete-btn {
        @include recipe-btn;
      }
    }
    &-image {
      display: flex;
      img {
        object-fit: cover;
        height: 150px;
        width: 150px;
      }
      .ingredient {
        width: 70%;
        margin-left: 5px;
        font-size: 15px;
        .delete-items {
          background-color: lightgray;
          border: solid thin black;
          color: black;
          float: right;
          margin: 5px;
          a { 
            text-decoration: none;
            color: black;
            font-size: smaller;
          }
        }
      .items {
        display: flex;
        justify-content: space-between;
        border-bottom: dotted thin gray;
        padding: 5px;
        font-size: smaller;
        .create-ingredient {
          @include buyitem-btn;
          color: gray;
        }
        .delete-ingredient {
          @include buyitem-btn;
          background-color: tomato;
          color: black;
        }
      }
      }
    }
    &-make {
      .content {
        font-size: smaller;
        padding: 10px;
        border-top: dotted thin gray;
      }
    }
  }
}

