// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.f-recipe {
  width: 700px;
  border: solid thin gray;
  margin: 0 auto;
  padding: 20px;
  select {
    font-size: 1.3rem;
    border: solid thin black;
  }
  .nested-fields {
    .delete-btn {
      text-decoration: none;
      font-size: 0.8rem;
      color: gray;
    }
  }
  .links {
    .make-add {
      text-decoration: none;
      color: gray;
      font-size: 0.8rem;
    }
  }
  .f-item {
    padding: 5px;
    font-size: 1rem;
    font-weight: bolder;
    input {
      font-size: 1.3rem;
      border: solid thin black;
    }
    textarea {
      border: solid thin black;
      font-size: 1.3rem;
    }
  }
  .f-image {
    padding: 5px;
  }
  .f-submit {
    text-align: center;
    padding: 10px;
    input {
      background-color: ivory;
      font-weight: bolder;
    }
  }
}

@media (max-width: 519px) {
  .f-recipe {
    width: calc(100vh - 150px);
  }
}