.recipe {
  width: 700px;
  border: solid thin gray;
  margin: 0 auto;
  &-category {
    border: solid medium red ;
    border-radius: 50px;
    height: 15px;
    width: 20%;
    background-color: salmon;
    text-align: center;
  }
  &-name {
    font-size: xx-large;
  }
  .user-name {
    text-align: right;
    a {
      text-decoration: none;
      color: gray;
    }
  }
  .like {
    text-align: right;
    .unlike-btn {
      color: palevioletred;
    }
    .like-btn {
      color: gray;
    }
    .like-count {
      float: right;
      color: gray;
    }
  }
  .recipe-link {
    .edit-btn {
      font-size: 1.5rem;
      color: gray;
      float: right;
      padding: 5px;
    }
    .delete-btn {
      font-size: 1.5rem;
      color: gray;
      float: right;
      padding: 5px;
    }
  }
  &-image {
    display: flex;
    img {
      object-fit: cover;
      height: 300px;
      width: 300px;
    }
    .ingredient {
      width: 70%;
      .items {
        border-bottom: dotted thin gray;
        padding: 5px;
        .create-ingredient {
          float: right;
          background-color: tomato;
          text-decoration: none;
          color: black;
          border: solid thin gray;
        }
        .delete-ingredient {
          float: right;
          text-decoration: none;
          color: gray;
          border: solid thin gray;
        }
      }
      .delete-items {
        background-color: lightgray;
        border: solid thin black;
        color: black;
        float: right;
        margin: 5px;
        a {
          
          text-decoration: none;
          color: black;
          font-size: smaller;
        }
      }
    }
  }
  &-make {
    .content {
      font-size: smaller;
      padding: 10px;
      border-top: dotted thin gray;
    }
  }
}

// @media (max-width: 455px) {
//   .recipe {
//     max-width: 100%;
//     box-sizing: border-box;
//     &-name {
//       font-size: 2rem;
//     }
//     &-image {
//       max-width: 100%;
//       padding: 3px;
//       img {
//         width: 50%;
//         height: auto;
//       }
//       .ingredient {
//         width: 50%;
//         font-size: 0.7rem;
//       }
//     }
//   }
// }

.comments {
  width: 700px;
  margin: 0 auto;
  border: solid thin black;
  margin-top: 10px;
  .comments-form {
    .c-area {
      width: 100%;
      text-align: center;
      textarea {
        width: 90%;
        height: 100px;
        margin-top: 20px;
      }
    }
    .c-sub {
      text-align: center;
      padding: 10px;
      input {
        width: 30%;
        background-color: ivory;
        font-weight: bolder;
      }
    }
    &__text-all {
      width: 700px;
      font-size: 15px;
      word-wrap: break-word;
      margin: 0 auto;
      &__list {
        border-bottom: solid thin gray;
        padding: 5px;
        width: 680px;
        display: flex;
        .c-image {
          width: 60px;
          height: 60px;
          margin: 3px;
          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
        }
        .c-name {
          width: 680px;
          word-wrap: break-word;
          a {
            color: black;
            font-weight: bolder;
          }
        }
        .c-text {
          padding-top: 3px;
          width: 600px;
        }
        a {
          .btn {
            color: gray;

          }
        }
      }
    }
  }
}

@media (max-width: 455px) {
  .comments {
    max-width: 100%;
    box-sizing: border-box;
  }
  .comments-form {
    &__text-all {
      max-width: 100%;
      box-sizing: border-box;
      &__list {
        max-width: 100%;
        box-sizing: border-box;
        .c-name {
          max-width: 75%;
          box-sizing: border-box;
        }
        .c-text {
          max-width: 100%;
          box-sizing: border-box;
        }
        .c-image {
          max-width: 30%;
          img {
            width: 30%;
            height: auto;
          }
        }
      }
    }
  }
}