.r-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  &:after {
    content: "";
    width: 340px;
  }
  &:before {
    content: "";
    width: 340px;
    order: 1;
  }
  
  &__list {
    width: 300px;
    border: solid thin grey;
    margin: 10px;
    padding: 10px;
    
    .r-name {
      text-decoration: none;
      color: black;
    }  

    .unlike {
      text-align: right;
      .unlike-btn {
        color: palevioletred;
        padding: 5px;
      }
    }


    .like {
      text-align: right;
      .like-btn {
        color: gray;
        padding: 5px;
      }
    }
    .like-count {
      float: right;
      color: gray;
      padding: 5px;
    }

    .r-image {
      img {
        width: 200px;
        height: 200px;
        
      }
    }

    .user-image {
      display: flex;
      margin-top: 5px;
      img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
      .user-name {
        .u-name {
        text-decoration: none;
        color: black;
        font-size: 13px;
        margin-left: 3px;
        }
      }
    }
    
    

    
  }

  
}