// Place all the styles related to the troubles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "config/mixin";
@import "config/media";


// お悩み一覧ページ
.trouble-list {
  @include base;
  .trouble-box {
    padding: 5px;
    margin: 5px;
    border: solid thin gray;
    width: auto;
    height: 60px;
    .trouble-title {
      width: 300px;
      a {
        font-weight: bolder;
        text-decoration: none;
        color: black;
        float: left;
      }
    }
    .user-image {
      float: right;
      display: flex;
      img {
        @include userimage-basic
      }
      .user-name {
        @include user-name;
        a {
          @include user-name-font;
        }
        .time {
          font-size: smaller;
        }
      }
    }
    .trouble-content {
      background-color: palevioletred;
    }
  }
}

// レスポンシブ
@include media(sp) {
  // お悩み一覧ページ
.word {
  max-width: 100%;
}
.new-path {
  text-align: right;
  a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    border: solid thin gray;
    background-color: lightpink;
  }
}
.trouble-list {
  max-width: 100%;
  .trouble-box {
    padding: 5px;
    margin: 5px;
    border: solid thin gray;
    width: auto;
    height: 60px;
    .trouble-title {
      width: 300px;
      a {
        font-weight: bolder;
        text-decoration: none;
        color: black;
        float: left;
      }
    }
    .user-image {
      float: right;
      display: flex;
      img {
        @include userimage-basic
      }
      .user-name {
        @include user-name;
        a {
          @include user-name-font;
        }
        .time {
          font-size: smaller;
        }
      }
    }
    .trouble-content {
      background-color: palevioletred;
    }
  }
}
}