@import "config/mixin";
@import "config/media";

.user-mypage {
  @include base;
  border: solid thin black;
  &__name {
    text-align: center;
    font-weight: bolder;
    .image {
      width: 500px;
      margin: 0 auto;
      img {
        width: 150px;
        height: 150px;
        border-radius: 100%;
      }
    }
    .btn {
      .link {
        padding: 10px;
        margin-top: 10px;
        a {
          color: black;
          text-decoration: none;
          font-size: smaller;
        }
      }
      .prof {
        background-color: lightpink;
      }
      .write {
        background-color: lightyellow;
      }
      .favorite {
        background-color: lightskyblue;
      }
    }
  }

  .user-recipes {
    @include base;
    margin-top: 50px;
    .top-list {
      @include base;
      .top-box {
        @include mainbox;
      }
      .top-name {
        a {
          @include recipe-name;
        }
      }
      .top-image {
        img {
          @include basicimage;
        }
        .top-introduction {
          @include recipe-introduction;
        }
      }
    }
  }
}

// レスポンシブ
@include media(sp) {
  .user-mypage {
    max-width: calc(100% - 20px);
    border: solid thin black;
    &__name {
      text-align: center;
      font-weight: bolder;
      .image {
        width: 100px;
        height: 100px;
        display: flex;
        img {
          width: 100px;
          height: 100px;
          border-radius: 100%;
        }
      }
      .btn {
        .link {
          padding: 10px;
          margin-top: 10px;
          a {
            color: black;
            text-decoration: none;
            font-size: smaller;
          }
        }
      }
    }
    .user-recipes {
      max-width: 100%;
      margin-top: 50px;
      .top-list {
        @include base;
        .top-box {
          @include mainbox;
        }
        .top-name {
          a {
            @include recipe-name;
          }
        }
        .top-image {
          img {
            @include basicimage;
          }
          .top-introduction {
            @include recipe-introduction;
          }
        }
      }
    }
  }
}