.user-mypage {
  width: 700px;
  border: solid thin black;
  margin: 0 auto;
  // padding: 10px;
  &__name {
    // background-color: khaki;
    text-align: center;
    font-weight: bolder;
    .image {
      // background-color: hotpink;
      width: 500px;
      // text-align: center;
      padding-top: 20px;
      padding-left: 200px;
      // background-color: lawngreen;
      display: flex;
      img {
        width: 150px;
        height: 150px;
        border-radius: 100%;
      }
      .btn {
        // background-color: lightcoral;
        padding: 30px;
        .prof-link {
          padding: 10px;
          a {
            color: black;
            border-bottom: solid thin black;
            text-decoration: none;
            font-size: smaller;
          }
        }
        .write-link {
          padding: 10px;
          a {
            color: black;
            border-bottom: solid thin black;
            text-decoration: none;
            font-size: smaller;
          }
        }
        .favorite-link {
          padding: 10px;
          a {
            color: black;
            border-bottom: solid thin black;
            text-decoration: none;
            font-size: smaller;
          }
        }
        // a {
        //   display: flex;
        //   height: 30px;
        //   text-decoration: none;
        //   border-bottom: solid thin black;
        //   padding: 3px;
        //   line-height: 30px;
        //   text-align: center;
        //   display: inline-block;
        //   color: black;
        //   font-size: smaller;
        // }
      }
    }
    
  }
  
  

  .user-recipes {
    width: 700px;
    // border: solid thin black;
    margin: 0 auto;
    font-weight: bolder;
    margin-top: 50px;
    // padding: 20px;
    .top-list {
      // background-color: hotpink;
      width: 700px;
      margin: 0 auto;
      // display: flex;
      // flex-wrap: wrap;
      // justify-content: space-between;
    // &:after {
    //   content: "";
    //   width: 100px;
    // }
    // &:before {
    //   content: "";
    //   width: 100px;
    //   order: 1;
    // }
      .top-box {
        padding: 5px;
        margin: 5px;
        border: solid thin gray;
        width: auto;
        // background-color: indianred;
        // text-align: center;
      }   
      .top-name {
        font-weight: bolder;
        color: black;
        text-decoration: none;
        a {
        text-decoration: none;
        font-weight: normal;
        color: black;
        
        }
      }
      .top-image {
        img {
          width: 100px;
          height: 100px;
        }
        .top-introduction {
          font-size: small;
          font-weight: normal;
        }
      }
    }
  }
}

@media (max-width: 455px) {
  .user-mypage {
    max-width: 100%;
    box-sizing: border-box;
    &__name {
      .image {
        img {
          width: 150px;
          height: 150px;
        }
      }
    }
  }
  .user-recipes {
    max-width: 100%;
    box-sizing: border-box;
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
    &:after {
      content: "";
      width: 30%;
    }
    &:before {
      content: "";
      width: 30%;
      order: 1;
    }
      .box {
        width: 30%;
        height: 30%;
        text-align: center;
      }
      .r-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        .rr-name {
          font-size: 0.8rem;
        }
      }
      .r-image {
        img {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}