.user-mypage {
  width: 700px;
  border: solid thin black;
  margin: 0 auto;
  padding: 10px;
  &__name {
    text-align: center;
    .image {
      img {
        width: 150px;
        height: 150px;
        border-radius: 100%;
      }  
    }
  }
  a {
    display: flex;
    height: 50px;
    text-decoration: none;
    border: solid thin black;
    padding: 3px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    color: black;
  }  
}
.user-recipes {
  width: 880px;
  border: solid thin black;
  margin: 0 auto;
  font-size: 25px;
  margin-top: 10px;
  padding: 20px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  &:after {
    content: "";
    width: 200px;
  }
  &:before {
    content: "";
    width: 200px;
    order: 1;
  }
    .box {
      width: 200px;
      height: 200px;
      text-align: center;
    }   
    .r-name {
      .rr-name {
      font-size: 1rem;
      text-decoration: none;
      color: black;
      }
    }
    .r-image {
      img {
        width: 170px;
        height: 170px;
      }
    }
  }
}

@media (max-width: 519px) {
  .user-mypage {
    width: calc(100vh - 130px);
  }
  .user-recipes {
    width: calc(100vh - 150px);
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    &:after {
      content: "";
      width: 140px;
    }
    &:before {
      content: "";
      width: 140px;
      order: 1;
    }
      .box {
        width: 140px;
        height: 140px;
        text-align: center;
      }
      .r-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        .rr-name {
          font-size: 0.8rem;
        }
      }
      .r-image {
        img {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}